.button {
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-background-color: rgb(15, 59, 205) ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 2, 2);
}

.button:hover {
    -fx-background-color: rgb(0, 106, 255); /* Color when hovered */

}
